<h1>COVID-19 Survey</h1>

<h2>Please answer the following questions</h2>






<form class="create-form" id="submitAnswersForm">

  <ul>
    {{#each this}}
    <hr>
    {{{text}}}
    {{#each Choices}}
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input" data-text="{{this.text}}" id={{this.id}} name={{this.QuestionId}}>
      <label class="form-check-label">{{this.text}}</label>
    </div>
    {{/each}}
    {{/each}}
  </ul>

  <button type="submit">Submit Your Response</button>
</form>